@import "tailwindcss";

:root {
  --background: #9de9f4;
  --foreground: #0f3a64;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-kanit), sans-serif;
  --font-serif: var(--font-kanit), sans-serif;
  --animate-slide-up: slide-up 0.3s ease-out;
}

@keyframes slide-up {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kanit), Arial, Helvetica, sans-serif;
}
